<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>未处理的</key>
		<dict>
			<key>颜色调整</key>
			<array>
				<string>GPUImageLevelsFilter：类似Photoshop的级别调整</string>
				<string>GPUImageToneCurveFilter：根据每个颜色通道的样条曲线调整图像的颜色。</string>
				<string>GPUImageColorMatrixFilter：通过对图像应用矩阵来变换图像的颜色</string>
				<string>GPUImageHighlightShadowTintFilter：允许您使用颜色和强度独立地着色图像的阴影和高光</string>
				<string>GPUImageLookupFilter：使用RGB颜色查找图像重新映射图像中的颜色</string>
			</array>
		</dict>
		<key>content</key>
		<array>
			<dict>
				<key>title</key>
				<string>亮度</string>
				<key>function</key>
				<string>BrightnessFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>曝光</string>
				<key>function</key>
				<string>ExposureFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>对比度</string>
				<key>function</key>
				<string>ContrastFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>饱和度</string>
				<key>function</key>
				<string>SaturationFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>灰度系数</string>
				<key>function</key>
				<string>GammaFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>RGB通道</string>
				<key>function</key>
				<string>RGBFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>色调</string>
				<key>function</key>
				<string>HueFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>白平衡</string>
				<key>function</key>
				<string>WhiteBalanceFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>阴影和高光</string>
				<key>function</key>
				<string>HighlightShadowFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>添加或删除雾度</string>
				<key>function</key>
				<string>HazeFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>棕褐色调滤波器</string>
				<key>function</key>
				<string>SepiaFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Alpha通道</string>
				<key>function</key>
				<string>OpacityFilter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>阈值</string>
				<key>function</key>
				<string>LuminanceThresholdFilter</string>
			</dict>
		</array>
		<key>title</key>
		<string>颜色调整</string>
	</dict>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>title</key>
				<string>模拟的倾斜移位镜头效果</string>
				<key>function</key>
				<string>TiltShiftFilter</string>
			</dict>
		</array>
		<key>title</key>
		<string>图像调整</string>
	</dict>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>function</key>
				<string></string>
			</dict>
		</array>
		<key>title</key>
		<string>颜色调整d</string>
	</dict>
</array>
</plist>
